body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
    font-family: Arial, sans-serif;
    font-size: 24px;
}
.no-select {
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(243 244 246 / var(--tw-bg-opacity, 1));
    font-family: monospace;
}

#message {
    text-align: center;
}